* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: piazzolla;
}

#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr ;
    grid-template-areas:
    "nav nav "
    "aside main "
    "footer footer";
}

.navbar {
    height: 100px;;
    padding: 15px;
    background-color: rgb(9, 9, 9);
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    color: white;
    border-bottom: solid 6px rgb(255, 247, 12);
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

a:hover {
    color: rgb(255, 247, 12);
}

i {
    font-size: 30px;
}

i:hover{
    color: rgb(255, 247, 12);
}
.logo {
    height: 60px;
}

aside {
    background-color: rgb(9, 9, 9);;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

aside p {
    padding: 1rem;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 800;
}

aside a {
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

aside a:hover {
    color: rgb(255, 247, 12);
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
    overflow: auto;
    height: calc(100%-150px);
}

article {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 1rem;
    border-radius: 20px;
    height: 550px;
}

article img {
    width: 300px;
    height: auto;
    object-fit: cover;
    vertical-align: top;  
    border-radius: 10px;  
}

button {
    background-color: rgb(9,9,9);
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 400;
}

footer {
    background-color: rgb(9,9,9);
    border-top: solid 6px rgb(255, 247, 12);
    height: 50px;
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}